html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  #app {
    height: 100%;
    width: 100%;
  }
}

//Editor Global Style
.cm-editor {
  height: 100%;
  border: 1px solid #eeeeee;
}
